*{
    margin: 10px; 
    padding: 10px;
    border: 10px;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: rgb(143, 143, 174);
    /* font-size: 20px; */

}

p{
    color: rgb(252, 5, 5);
}
i{
    color: black;
}

 
body{
    background-color: rgb(27, 67, 87);
       /* background-image: url('\photo\background.png'); /* Path to your image */
      /*  background-size: cover; /* Scales image to cover the entire viewport */
      /*  background-position: center; /* Centers the image */
       /* background-repeat: no-repeat; /* Prevents repeating */
    
}
a:link{
    color: black;
}
a:visited{
    color: rgb(10, 240, 98);
}
a:active{
    color: red;
}
a:hover{
    background-color: rgb(87, 85, 180);
}
div{
    background-color: rgb(170, 80, 136);
    height: auto;
     border: 5px;
     border-collapse: collapse;
}
.first{
    align-items: center;
    color: black;
    background-color: rgb(40, 40, 134);
}
#white {
    background-color: rgb(167, 141, 141);
}
h2{
    color: black;
    
}
ol{
    /* display: flex;
    flex-direction: column;
 align-items: center; */
list-style-position: inside;
 text-align: center;
 
 /* Use Method 2 if you want the entire list to be a centered block.
Use Method 3 if you want only the text to be centered while keeping proper number alignment. */

}

 