* {
    margin: 2% auto;
    padding: 1%;
    width: 90%;
    /* height: 100vh; */
    /* border: 10px; */
    /* border-collapse: collapse; */
    align-items: center;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
    /* font-size: 16px; */
}

h1 {
    text-shadow: 2px 1px 5px rgb(252, 40, 3);
    color: rgba(55, 55, 182, 0.938);
    /* font-size: 20px; */
    border-style: inset;
    border-width: 10px;
    border-color: darkgray;
    /* border: 12px solid darkgray inset; didn't worked.*/
    border-radius: 20px;
    border-bottom: 10px solid red;
    border-left: 10px solid black;
    border-right: 10px solid black;

    border-top-style: double;
    border-left-style: dotted;
    border-bottom-style: groove;
    border-right-style: dashed;

    padding: 2%;
    margin: 2%;
    margin-bottom: 4%;
    /* position: fixed; */
    font-size: 50px;
    background-color: burlywood;
}
h2{
    width: 500px;
    background-color: aqua;
    text-shadow: 2px 1px 3px rgb(252, 40, 3);
    color: rgba(20, 10, 10);
    /* font-size: 20px; */
    border-style: inset;
    border-width: 10px;
    border-color: rgb(7, 5, 5);
    /* border: 12px solid darkgray inset; didn't worked.*/
    border-radius: 15px;
    padding: 2%;
    /* margin: 2%; */
    margin-bottom: 4%;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 300px; */
    font-size: 30px;
}
/* h2:hover{
    cursor: pointer;
    opacity: .6;
    color: rgb(0, 0, 0);
}*/

p {
    color: rgb(0, 0, 0);
}

i {
    color: rgb(0, 0, 0);
}

body {
    /* background-color: rgb(27, 67, 87); */
    /* background: url(photo/background.png);
        /* Path to your image */
    /*  background-size: cover; /* Scales image to cover the entire viewport */
    /*  background-position: center; /* Centers the image */
    /* background-repeat: no-repeat; /* Prevents repeating */
    background-image: url(../photo/background2.png);
    background-attachment: fixed;
    /* background-size: cover; */
    background-position: center;
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

div {
    background-color: rgb(0, 0, 0, 0.3) !important;
    /* background-color: transparent !important; */
    height: 50vh;
    /* margin: auto; */
    /* border: 5px; */
    /* border-collapse: collapse; */
}

.first {
    /* align-items: center; */
    color: black;
    background-color: rgb(40, 40, 134);
    height: 30vh;
}

#white {
    background-color: rgb(167, 141, 141);
    /* width: 50vw; */
    height: 40vh;
}


a {
    text-decoration: none;
    font-size: 20px;
    width: 15px;
}

a:link {
    color: blue;
}

a:visited {
    color: rgb(157, 57, 182);
}

a:active {
    color: red;
}

a:hover {
    background-color: rgba(7, 7, 7, 0.349);
    text-decoration: underline;
    border-radius: 10px;
}

button {
    width: 200px;
    background-color: rgba(15, 15, 14, 0.863);
    border-color: #f3ab0f;
    color: rgb(252, 249, 249);
    cursor: pointer;
    /* border: 100em; */
    border-radius: 30px;
    /* border: -50px; */
    padding: 10px;
    margin: 10px;
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    /* box-shadow: 2 18 16; */
    /* transition: transform 0.2s ease-in-out; */
    border-style: outset;
    border-width: 5px;
    /* border-bottom:  8px solid red;
    border-left:  8px solid rgb(226, 241, 3);
    border-right:  8px solid rgb(238, 233, 233);
    border-top:  8px solid rgb(2, 3, 75); */
}

button:hover {
    background-color: rgba(0, 0, 0, 0.568);
}

button:active {
    transform: scale(1.1);
}

hr {
    color: rgba(0, 0, 0, 0.493);
    background-color: rgba(31, 30, 30, 0.856);
    height: 2px;
    border: none;
}

h2 {
    color: black;
}

.list,
ol {
    /* background-color: rgb(0, 0, 0,0.3); */
    background: url(../photo/background.png);
    /* background-color: transparent; */
    /* background-size: cover; */
    /* opacity: 0.8; */
    /* background-blend-mode: lighten; */
    color: rgb(255, 6, 19);
    /* text-align: left; */
    /* border-width: 10px;
    border-color: black; */
}

ol {
    /* display: flex;
    flex-direction: column;
 align-items: center; */
    list-style-position: inside;
    text-align: left;
    /* Use Method 2 if you want the entire list to be a centered block.
Use Method 3 if you want only the text to be centered while keeping proper number alignment. */
}

.list {
    font-size: 25px;
    /* border-width: 5px;
    border-color: #f3ab0f; */
}

img {

    opacity: 1;
    height: 60vh;
    width: 50vw;
    margin: 0;
    padding: 0;
    /* top: 0; */
    left: 25%;
    position: absolute;
    transition: 0.4s;
    /* transform: scale(1.2); */
    z-index: 3;
    overflow: hidden;
}

img:hover {
    opacity: 0.2;
    /* transform: scale(1.2); */
    overflow: hidden;
}

.service {
    background-color: rgba(23, 8, 92, 0) !important;
    /* position:   absolute; */
    /* position: static; */
    height: 60vh;
    width: 50vw;
    margin: 0;
    padding: 0;
    /* left: 20%; */
    overflow: hidden;

}

.inner {
    background-color: rgba(0, 0, 0, 0.973) !important;
    height: 60vh;
    width: 50vw;
    margin: 0;
    padding: 0;
    display: none;
    text-align: center;
    align-items: center;
    /* margin-top: 20px; */
    /* padding-top: 20px; */
    position: absolute;
    left: 25%;
    overflow: hidden;
}

.service a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 15px;
    background-color: #f3dc0fb2;
    border-radius: 10px;

}

.service p {
    color: white;
}

.service:hover .inner {
    display: block;
}

.inner h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-bottom: 0;
}

.inner a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 15px;
    background-color: #e2be0ab2;
    border-radius: 10px;
    z-index: 2;
}

.inner::after {
    background-color: rgba(8, 8, 8, 0.89) !important;
    position: absolute;
    height: 60vh;
    width: 50vw;
    margin: 0;
    padding: 0;
    content: '';
    top: 0;
    left: 0%;
    opacity: 0.1;
    /* z-index: 2; */
    overflow: hidden;
}

.inner::after a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 15px;
    background-color: #f3d52ab2;
    border-radius: 10px;

}

.icon {
    height: fit-content;
    width: 80%;
    background-color: #f3ab0fa9 !important;
    color: whitesmoke;
    font-size: 25px;

}

.icon i {
    display: block;
    width: fit-content;
}

.icon i:hover {
    cursor: pointer;
    /* width:  fit-content; */
    color: white;
    /* transform: rotate(0.2s); */

}

h4 {
    color: black;
    text-decoration: underline;
}

.one {
    color: white;
    font-size: 20px;
}

.two {
    color: white;
    font-size: 20px;
}

.three {
    color: white;
    font-size: 20px;
}

.four {
    color: rgb(243, 2, 2);
    font-size: 25px;
    /* text-decoration: underline; */
    /* text-transform:unset; */
}

.problem {
    background-color: red !important;
    height: fit-content;
    width: fit-content;

}

.problem p {
    color: rgb(201, 255, 8);
}